<header class="navbar">
  <ul role="menubar" aria-label="Main navigation">
    <li class="small-only"><a href="#sidebar">Show outline</a></li>
    <li class="small-only"><a href="#">Hide outline</a></li>
    <div></div>
    <li><a href="/">Playbook</a></li>
    <li role="menu">
      <a href="/guides">Guides</a>
      {% include guides.html %}
    </li>
  </ul>
</header>

<script>
  const itemForShowingOutline = document.querySelector(
    '.navbar li [href="#sidebar"]'
  ).parentElement;
  const itemForHidingOutline = document.querySelector(
    '.navbar li [href="#"]'
  ).parentElement;

  function updateOutlineToggle() {
    if (location.hash === "#sidebar") {
      itemForShowingOutline.classList.add("nav-hidden");
      itemForHidingOutline.classList.remove("nav-hidden");
    } else {
      itemForShowingOutline.classList.remove("nav-hidden");
      itemForHidingOutline.classList.add("nav-hidden");
    }
  }

  window.addEventListener("hashchange", updateOutlineToggle);

  updateOutlineToggle();
</script>
