@use "./colours";

$body-font-family: Cardo, serif;
$body-font-weight: 400;
$body-font-weight-bold: 700;

$heading-font-family: Poppins, sans-serif;
$heading-font-weight: 600;

@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cardo:400,700&display=swap");

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: 15pt;
  line-height: 1.5;
  color: colours.$navy;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

b,
strong {
  font-weight: $body-font-weight-bold;
}
