<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>
      {% if page.title %}{{ page.title | escape }} - {% endif %}dxw Playbook
    </title>

    <link rel="stylesheet" href="/assets/main.css" />
  </head>
  <body>
    {% include navbar.html %}
    <main>
      {% if page.sidebar %}
        {% include sidebar.html %}
      {% endif %}
      {% include page-content.html %}
      {% if page.sidebar %}
        {% include contribute.html %}
      {% endif %}
    </main>
  </body>
</html>
